 body{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: thin;
 }

 #main-body-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
 }

 #header-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/Portal-Header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
 }

    #header-box h1{
        font-size: 40px;
        color: rgb(222, 222, 222);;
        font-weight: 400;
    }

 #buttons-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
 }

.button{
    width: 200px;
    height: 200px;
    color: white;
    border: none;
    font-size: 25px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #issue-button{
    background-color: rgb(56,94,157); 
    cursor: pointer;
    box-shadow: 0px; 
    width: 100%;
    height: 100%;
    border-radius: 25px;
    color: white;
}

 #request-button{
    background-color: rgb(56,94,157); 
    cursor: pointer;
    box-shadow: 0px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    color: white;
 }



 #click-here-button{
    background-color: rgb(56,94,157); 
    cursor: pointer;
    box-shadow: 0px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    color: white;
}


 .portal-photo{
    max-width: 200px;    
    max-height: fit-content;
 }

 #faq-box{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
 }

 footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100px;
      background-color: rgb(56,94,157);
      color: white;
      font-size: 20px;
      font-weight: 400;
 }

 footer p{
   margin: 5px;
   font-size: 15px;
 }